
@model SummonerDataAll
@{
    ViewData["Title"] = $"{Model.data.name}";
}

<!-- HTML Code -->
<div class="d-flex justify-content-center align-items-center navbarGap">
    <form class="form-inline mt-4" method="post" action="/SummonerData/Summoner" id="searchForm">
        <div class="input-group">
            <input class="form-control form-control-lg py-3" type="search" placeholder="Search" aria-label="Search" name="searchQuery">
            <div class="input-group-append">
                <button class="btn btn-primary custom-primary btn-lg py-3 px-4" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>




@if (Model != null)
{
    <section class="d-flex justify-content-center m-4 ">
        <div class="mx-auto text-center">
            <div class="imgContainer">
                <img class="rounded-2 w-100 h-100 img-fluid" src="@Model.profileImgURL" />
            </div>
            <div class="fw-bold fs-2">@Model.data.name</div>
            <div class="fw-bold fs-3">Lv. @Model.data.summonerLevel</div>
        </div>
    </section>

    <section>
        <h2>Match History</h2>
        <div class="d-flex flex-column">

            @for(int i = 0; i < Model.matchGameDataList.Count; i++)
            {
                <div class="d-flex flex-row mb-2 w-100">
                    <div class=" rounded-start @(Model.didWin[i] == "Victory" ? "containerTabStartWin" : "containerTabStartLose")">
                        
                    </div>
                <div class="d-flex flex-row justify-content-between p-3 rounded-end w-100 @(Model.didWin[i] == "Victory" ? "bg-victory" : "bg-defeat")">
                <div class="game me-3">
                    <div class="fw-bold">@Model.gameType[i]</div>
                    <div class="">@Model.sincePlayed[i]</div>
                    <div class="">@Model.didWin[i]</div>
                    <div class="">@Model.gameLengthMinutes[i]m @Model.gameLengthSeconds[i]s</div>
                </div>
                <div class="info me-3">
                    <div class="details d-flex">
                        <div class="d-flex">
                                    <div class="champIconContainer"><img class="rounded-circle w-100 h-100 img-fluid" src="http://ddragon.leagueoflegends.com/cdn/13.8.1/img/champion/@(Model.playerMatchDataList[i].championName).png" /></div>
                            <div class="ms-4">
                                <div class="summonerPerksContainer"><img class="rounded w-100 h-100 img-fluid" src="http://ddragon.leagueoflegends.com/cdn/13.8.1/img/spell/@(Model.summonerSpell1ImgPath[i])" /></div>
                                <div class="summonerPerksContainer"><img class="rounded w-100 h-100 img-fluid" src="http://ddragon.leagueoflegends.com/cdn/13.8.1/img/spell/@(Model.summonerSpell2ImgPath[i])" /></div>
                            </div>
                            <div class="">
                                <div class="summonerPerksContainer"><img class="rounded w-100 h-100 img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/@(Model.primaryRunePath[i])" /></div>
                                <div class="summonerPerksContainer"><img class="rounded w-100 h-100 img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/@(Model.secondaryRunePath[i])" /></div>
                            </div>
                            </div>
                        <div class="mx-4">
                                <div>@Model.kda.kills[i] / <span class="text-danger fw-bold">@Model.kda.deaths[i]</span> / @Model.kda.assists[i]</div>
                            <div>@Model.kdaRatio[i]</div>
                        </div>
                            <div class="d-flex flex-column summonerListFontSize">
                                <div>P/Kill @Model.killParticipationPercentage[i]</div>
                                <div>Control Ward @Model.controlWardCount[i]</div>
                                <div>@Model.creepScore[i]</div>
                            </div>

                    </div>
                    <div class="d-flex">
                        <div class="items d-flex flex-row mt-1">
                            @foreach(int itemList in Model.itemIDList[i])
                            {
                                <div class="summonerPerksContainer"><img class="w-100 h-100 img-fluid" src="https://ddragon.leagueoflegends.com/cdn/13.8.1/img/item/@(itemList).png" /></div>
                            } 
                        </div>
                    </div>
                </div>
                    <section class="participants d-flex flex-row justify-content-start">
                        <div class="team1 d-flex flex-column teamsBox">
                        @for(int j = 0; j < 5; j++)
                            {
                                <div class="d-flex flex-row justify-content-start w-100 ">
                                    <div class="summonerDetailsContainer ">
                                            <img class="rounded w-100 h-100 " src="http://ddragon.leagueoflegends.com/cdn/13.8.1/img/champion/@(@Model.matchGameDataList[i].info.participants[j].championName).png" />
                                    </div>
                                    <div class="w-100 summonerListFontSize">@Model.matchGameDataList[i].info.participants[j].summonerName</div>
                                </div>
                            }
                    </div>
                    <div class="team2 teamsBox">
                            @for (int k = 0; k < 5; k++)
                            {
                                <div class="d-flex flex-row">
                                    <div class="summonerDetailsContainer me-1">
                                            <img class="rounded w-100 h-100" src="http://ddragon.leagueoflegends.com/cdn/13.8.1/img/champion/@(@Model.matchGameDataList[i].info.participants[5+k].championName).png" />
                                    </div>
                                    <div class="w-100 summonerListFontSize">@Model.matchGameDataList[i].info.participants[5+k].summonerName</div>
                                </div>
                            }
                    </div>
                </section>
            </div>
            </div>
            }
        </div>

    </section>
}





<!-- CSS Code -->
<style>

.bg-victory{
        background-color: #28344E;
       
}

.bg-defeat{
        background-color: #59343B;
}
.teamsBox {
        min-width: 200px; /* Set minimum width to 200px */
    }

    .containerTabStartWin{
        background-color: #5383E8;
        min-height: 100%;
        min-width: 8px;
    }

    .containerTabStartLose {
        background-color: #E84057;
        min-height: 100%;
        min-width: 8px;
        width:8px;
    }
.container {
  margin-top: 20px;
}

.imgContainer{
    width: 200px;
    height: 200px;
}

.champIconContainer{
        width: 64px;
        height: 64px;
}

.summonerPerksContainer{
    width: 32px;
    height: 32px;
}

.summonerDetailsContainer {
    min-width: 18px;
    max-width: 18px;
    min-height: 18px; 
    max-height: 18px;
}

.summonerListFontSize{
    font-size: 12px;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.input-group {
  flex-grow: 1;
  max-width: 500px; /* Set max-width to desired length */
}

.form-control {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.btn {
  margin-left: 0;
  margin-right: 0;
}
</style>


<script>
    // Get the form element by ID
    var form = document.getElementById('searchForm');

    // Add a submit event listener to the form
    form.addEventListener('submit', function (event) {
        // Prevent the form from submitting
        event.preventDefault();

        // Get the searchQuery value from the form
        var name = form.elements['searchQuery'].value;

        // Modify the action URL to append the searchQuery as a query string
        form.action = '/SummonerData/Summoner?name=' + encodeURIComponent(name);

        // Submit the form
        form.submit();
    });
</script>


